{{ define "main" }}
<main>
  {{ range $section, $.Site.Data.ForFun.sections }}
  <section class="mb6">
    <h2 class="small-title">{{ $section.title }}</h2>

    {{ range $item, $section.item }}
      <div class="mt6 about-me">
        {{- $image := resources.Get $item.img -}}
        <img
          src="{{ $image.Permalink }}"
          class="align-img"
          alt="{{ $item.subtitle }}"
        />
  
        <div class="paragraph-text ml5">{{ $item.subtitle }}</div>
    </div>
    {{ end }}
  </section>
  {{ end }}
</main>
{{ end }}
