@charset "utf-8";
/* CSS Document */

#title { font-family:"helvetica", sans-serif;
	font-size: 90px;
	text-align: center;  }
	
	
	#portadaLink
	{font-family: helvetica, sans-serif;
		text-align: center;}
	 
#pie {
	position:fixed;
 bottom:15px;
   height:0px;
   justify-content:center;

   }
#portadaLink {font-family: helvetica, sans-serif;
   font-size: 54px;
	color: black;}

#credito {position:fixed;   
   bottom:0px;
   height:0px;
   width:100%;
   right:5px;
   text-align: right;
   font-family: helvetica, sans-serif;
   font-size: 12px; 
 }
	
	a{color:black; 
	text-decoration: none;
	margin: 40px;	
	}
	a:hover{color: black;
	text-decoration: none;}
	a:active{color: black;
	text-decoration: none;}
	
	#me { font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-top: 80px;
	text-align: center;}



	#title {
	font-family:"helvetica", sans-serif;
	font-size: 90px;
	text-align: center;
	}

#pie {
   position:fixed;
   bottom:15px;
   height:0px;
   justify-content:center;

   }

#portadaLink{
	 font-family: helvetica, sans-serif;
	 text-align: center;
	}
	 
#credito {position:fixed;   
   bottom:0px;
   height:0px;
   width:100%;
   right:5px;
   text-align: right;
   font-family: helvetica, sans-serif;
   font-size: 12px; 
 }
 	
#img1 { display: block;
		margin: auto;
	
	}
	
#portadaLink {  font-family: helvetica, sans-serif;
   font-size: 54px;
   color: black;
	}
	
a{color:black; 
	text-decoration: none;
	margin: 40px;	}
a:hover{color: black;
	text-decoration: none;}
a:active{color: black;
	text-decoration: none;
	}


xd {
	 list-style-type: circle;
}

