@import './global/reset';
@import './global/typography';
@import './global/spacing';

@import './partials/header';

main {
    padding: 80px;
    text-align: center;
}

.align-img {
    margin: 0 auto;
}