@import './global/reset';
@import './global/typography';
@import './global/spacing';

@import './partials/header';

@import './pages/tattoos';
@import './pages/gallery';
@import './pages/about';

main {
    padding: 80px;
    text-align: center;
}

.align-img {
    margin: 0 auto;
}

.cover-img {
    max-width: 800px;
    width: 100%;
}